<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<!--/*@thymesVar id="tasks" type="java.util.List<com.services.webapp.domain.Task>"*/-->
<!--/*@thymesVar id="projectId" type="java.lang.Long"*/-->
<!--/*@thymesVar id="project" type="com.services.webapp.domain.Project"*/-->
<body>
    <a th:href="'/tasks/create?projectId=' + ${projectId}">Create Task</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>User Estimation</th>
                <th>AI Estimation</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task: ${tasks}">
                <th th:text="${task.id}"></th>
                <th th:text="${task.name}"></th>
                <th th:text="${task.description}"></th>
                <th th:text="${task.userEstimation}"></th>
                <th th:text="${task.aiEstimation}"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>