<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h3>Register</h3>
    <!--/*@thymesVar id="user" type="com.services.webapp.dto.RegisterRequest"*/-->
    <form th:action="@{/users/register}" th:object="${user}" method="post">
        <label th:for="name">Name</label>
        <input type="text" th:field="*{name}">
        <br>
        <label th:for="username">Username</label>
        <input type="text" th:field="*{username}">
        <br>
        <label th:for="password">Password</label>
        <input type="password" th:field="*{password}">
        <br>
        <button type="submit">Register</button>
    </form>
    <p>Already Registered? <a th:href="@{/users/login}">Login</a></p>
</body>
</html>