<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<!--/*@thymesVar id="projects" type="java.util.List<com.services.webapp.domain.Project>"*/-->
<!--/*@thymesVar id="userId" type="java.lang.Long"*/-->
<!--/*@thymesVar id="user" type="com.services.webapp.domain.User"*/-->
<body>
    <!--p>Welcome <span th:text="${user.name}"></span></p-->
    <a th:href="'/projects/create?userId=' + ${userId}">Create Project</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="project: ${projects}">
                <th th:text="${project.id}"></th>
                <th><a th:text="${project.name}" th:href="'/tasks/?projectId=' + ${project.id}"></a></th>
                <th th:text="${project.description}"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>